*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #2C363F;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width : 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color : #b0413e;
    background-color: #ffffc7;
}
h1{
    color: wheat;
    margin-bottom: 100px;
    margin-top: 10px;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    margin-top: 250px;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: fles;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-top: 250px;
}

.hide{
    display: none;
}